<ng-container>
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
  </mat-toolbar>

  <div class="row">
    <form [formGroup]="form">

      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="" formControlName="cpf" maxlength="11" >
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="" formControlName="quantidade">
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Itens</mat-label>
        <input matInput placeholder="" formControlName="itens">
      </mat-form-field>

      <mat-form-field class="textarea" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="descricao"></textarea>
      </mat-form-field>

      <div class="row">
        <button mat-raised-button color="primary" class="btn-danger" (click)="closeDialog()">Cancelar</button>
        <button mat-raised-button color="primary" class="btn-primary" (click)="validaNovoPedido()">Salvar</button>
      </div>

    </form>

  </div>
</ng-container>
