*{
  padding: 0;
  margin: 0;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.bg-header {
  width: 100%;
  background-color: #3F51B5;
  padding: 15px 10px;
  color: #FFFFFF;
}
